<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.org_box{ 
	/* height:80px; */ 
	line-height:20px; 
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	background:#eaeded; 
	position:relative; 
	border-radius:0.5rem;
	word-wrap:break-word;
	word-break:break-all;
	} 
.org_bot_cor{ 
	width:0; 
	height:0; 
	border-width:15px; 
	border-style:solid; 
	border-color:transparent transparent #eaeded; 
	_border-color:#eaeded white white; 
	overflow:hidden; 
	position:absolute; 
	left:2rem; 
	top:-1.8rem; 
}
</style>
</head>
<body>
	<div class="org_box">
		<span class="org_bot_cor"></span> 
		边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框
		Hhhhhhhhhhhhhhhhhasasfldlsfdslfdksfkldslflkdslkflkdslkflkdsflkdslkfkldsklflkdslflksdlkaflklskdflkdsafkldslgjdksjgkdgjkdljgkjdsagkljdsklgjkdsjglkdjsgkljdskgljdslgkjcxvkcjgdkgjdskljgdksljgiwejigjkdgdksjgkdlsjgklajsdklgjalksjgkldjsagkljdsajgkldsjglkjdsklgjdsklgj;kldsjgiejigjdskgjdksljgkldsjgkldsjgdsjgkljdsgkjdskgjakldsjgkldsjgkljdsklgjioejgkjgkldsjgkldjsgklajsdklgjldskajgklsdjgkljdsklgjkldasjgkldsajgljdksgjlkasdjgkdjsgklajgkljdsaklgjklsdjgdsigjkdsjgkldsjgkdjgklajdsklgjklasdjgkjsdakgjdsgkdjgksdgjjkd
	</div>
	
	<div class="org_box" style="width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;">
		<span class="org_bot_cor"></span> 
		边框法实现底部90度尖角对话框边框法实现底部90度尖角对话框边框法实现底部90度
	</div>
</body>
</html>