<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmf.web.manager.dao.PeUsersDao">
  <resultMap id="BaseResultMap" type="com.hmf.web.entity.PeUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="gacode" jdbcType="VARCHAR" property="gacode" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="last_ip" jdbcType="BIGINT" property="lastIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <resultMap id="UsersResultMap" type="com.hmf.web.manager.vo.UsersVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>

  <resultMap id="GacodeMap" type="com.hmf.web.manager.vo.GaCodeVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="gacode" jdbcType="VARCHAR" property="gacode" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, realname, username, password,salt, we_chat, phone, email, icon, status, creat_time,
    update_time, delete_time, last_ip, last_login_time
  </sql>
  <!-- 通用查询条件拼接-->
  <sql id="conditions">
    <if test="id != null and id != '' "> and id = #{id,jdbcType=INTEGER} </if>
    <if test="realname != null and realname != '' "> and realname = #{realname,jdbcType=VARCHAR} </if>
    <if test="username != null and username != '' "> and username = #{username,jdbcType=VARCHAR} </if>
    <if test="password != null and password != '' "> and password = #{password,jdbcType=VARCHAR} </if>
    <if test="weChat != null and weChat != '' "> and we_chat = #{weChat,jdbcType=VARCHAR} </if>
    <if test="phone != null and phone != '' "> and phone = #{phone,jdbcType=VARCHAR} </if>
    <if test="email != null and email != '' "> and email = #{email,jdbcType=VARCHAR} </if>
    <if test="icon != null and icon != '' "> and icon = #{icon,jdbcType=VARCHAR} </if>
    <if test="status != null and status != '' "> and status = #{status,jdbcType=INTEGER} </if>
    <if test="lastIp != null and lastIp != '' "> and last_ip = #{lastIp,jdbcType=BIGINT} </if>
    <if test="lastLoginTime != null and lastLoginTime != '' "> and last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP} </if>
    <if test="creatTime != null and creatTime != '' "> and creat_time = #{creatTime,jdbcType=TIMESTAMP} </if>
    <if test="updateTime != null and updateTime != '' "> and update_time = #{updateTime,jdbcType=TIMESTAMP} </if>
    <if test="deleteTime != null and deleteTime != '' "> and delete_time = #{deleteTime,jdbcType=TIMESTAMP} </if>
  </sql>

  <!--根据用户姓名查询gacode-->
  <select id="selectGacodeByName" parameterType="java.lang.String" resultMap="GacodeMap">
      SELECT id,realname,username,password,salt,gacode,we_chat,phone,email,icon
      FROM
          pe_users
      WHERE status=1
       AND username = #{username,jdbcType=VARCHAR}
  </select>
  <!--根据客户公司id查询工程师信息-->
  <select id="selectEngineerByCust" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        pu.id,
        pu.realname,
        pu.phone,
        pu.icon
    FROM
        pe_users pu
    LEFT JOIN pe_companies pc ON pc.engr_id = pu.id
    where pu.`status`=1 and pc.`status`=1
    and pc.id = #{companiesId,jdbcType=INTEGER}
  </select>
  <!--主键查询单个用户-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pe_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--按条件查询批量用户精华版-->
  <select id="selectUsersAndRoles" parameterType="com.hmf.web.manager.bo.UserBo" resultMap="UsersResultMap">
    select
    <include refid="Base_Column_List" />
    from pe_users
    where 1=1
    <if test="realname != null and realname != '' "> and realname = #{realname,jdbcType=VARCHAR} </if>
    <if test="username != null and username != '' "> and username = #{username,jdbcType=VARCHAR} </if>
    <if test="status != null and status != '' "> and status = #{status,jdbcType=INTEGER} </if>
  </select>
  <!--按条件查询批量用户-->
  <select id="selectByCondition" parameterType="com.hmf.web.entity.PeUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pe_users
    where 1=1
    <include refid="conditions" />
  </select>
  <!--删除通道逻辑删除，禁用一切物理删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE pe_users set status =2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hmf.web.entity.PeUsers">
    insert into pe_users (id, realname, username,
    password, we_chat, phone,
    email, icon, status,
    creat_time, update_time, delete_time,
    last_ip, last_login_time)
    values (#{id,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
    #{password,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
    #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP},
    #{lastIp,jdbcType=BIGINT}, #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hmf.web.entity.PeUsers" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into pe_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="gacode != null">
        gacode,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="lastIp != null">
        last_ip,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="gacode != null">
        #{gacode,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null">
        #{lastIp,jdbcType=BIGINT},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hmf.web.entity.PeUsers">
    update pe_users
    <set>
      update_time = SYSDATE(),
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gacode != null">
        gacode = #{gacode,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null">
        last_ip = #{lastIp,jdbcType=BIGINT},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hmf.web.entity.PeUsers">
    update pe_users
    set realname = #{realname,jdbcType=VARCHAR},
    username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    we_chat = #{weChat,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    icon = #{icon,jdbcType=VARCHAR},
    status = #{status,jdbcType=TINYINT},
    creat_time = #{creatTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    delete_time = #{deleteTime,jdbcType=TIMESTAMP},
    last_ip = #{lastIp,jdbcType=BIGINT},
    last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>